@media (max-width: 640px) {
    #card_djs1,
    #card_djs2,
    #div_card3,
    #card_djs4 {
        padding-left: 50px !important;
        padding-right: 50px !important;
        margin-bottom: 20px;
    }
}